jupyterlab
notebook
ipykernel
ipython

pandas
numpy
openpyxl
xlsxwriter
pyarrow

matplotlib
seaborn
plotly

ipython-sql
sqlalchemy

jupyterlab_code_formatter
black
jupyterlab_execute_time
jupyterlab_git

pyyaml
jsonschema
